{% extends 'blog/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <h1  class="post_title">{{ post.title }}</h1>
    <p class="date">
    {{ post.body }}
    </p>
    Published {{ post.published }} by {{ post.user }}

    {% if user.is_authenticated and post.user.id == user.id %}
        <div class="post_edit">
            <form action="{% url 'post_edit' post.id %}">
                {% csrf_token %}
            <p><input type="submit" value="Edit post"></p>
            </form>
        </div>

        <form method="post" action="{% url 'post_delete' post.id %}">
                {% csrf_token %}
            <p><input type="submit" value="Delete post"></p>
        </form>

    {% endif %}
{% endblock %}


}
