{% extends 'blog/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div class="container" style="margin-top:30px;">
        <h2  class="text-center" style="font-size: 55px;">{{ post.title }}</h2>
            <div style="font-size: 20px; text-indent: 1.5em; text-align: justify;">
                <p>{{ post.body | safe}}</p>
                    <div class="media-body">
                        {% if post.image %}
                            <p><img class="rounded mx-auto d-block" width="80%" height="80%" src="{{ post.image.url }}"
                                    alt="image"></p>
                        {% else %}
                            <p></p>
                        {% endif %}
                        <p class="text-right text-info font-italic">Published {{ post.published }} by {{ post.user }}</p>
                    </div>

            </div>

    {% if user.is_authenticated and post.user.id == user.id %}
        <div class="post_edit">
            <form action="{% url 'post_edit' post.id %}">
                {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-primary">Edit post</button>
            </form>
        </div>
    {% endif %}
    </div>
{% endblock %}


}
