{% extends 'blog/base.html' %}
{% block title %}Disciplines{% endblock %}
{% block content %}
    <style>
    .tab {
        overflow: hidden;
        margin-left: 40%;


    }

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;

    }

    .tab button:hover {
        background-color: #ddd;
    }

    .tab button.active {
        background-color: #4671D5;
        color: white;
    }


    .tabcontent {
        display: none;

    }
    </style>
    <h2 class="text-center" style="font-size: 55px;">Disciplines</h2>
    <div class="tab justify text-dark">
        <button class="tablinks " onclick="openDescipline(event, 'Freestyle')" id="defaultOpen">Freestyle</button>
        <button class="tablinks" onclick="openDescipline(event, 'Super Pro Toss & Fetch')">Super Pro Toss & Fetch</button>
        <button class="tablinks" onclick="openDescipline(event, 'Dogdartbee')">Dogdartbee</button>
    </div>
    <div id="Freestyle" class="tabcontent container">
        <h3 style="font-size: 35px;" class="text-center">Freestyle</h3>
        <div style="font-size: 20px; text-indent: 1.5em; text-align: justify;">
            <p >The <span class="font-italic text-info">royal discipline</span> in dogfrisbee, also the most attractive
                for the spectators.</p>
            <p>Freestyle presents a routine of various throws and original tricks performed by the player and his dog.
                You can see different acrobatic tricks like high jumps, vaults and jumps over the body of the player.
                The safety of the dog is important, players have to avoid any dangerous tricks which can lead to the
                injuries. A whole routine is accompanied by the music and a team has 2 minutes to perform it (counted
                from the first thrown disc). According to USDDN rules a team can use maximum of 10 discs on the field,
                they have to be the same size and weight.</p>
            <p>Freestyle discipline consists of two freestyle rounds and one round of <span class="font-weight-bold">Toss &
                Fetch.</span> There are 4 judges, each one judging different category. First one is judging a Player category –
                he is looking at the field presentation, disc managment, quality and variability of throws and disc
                managment. Second judge is there for a Canine category – watching dog’s interest and focus during the
                routine, athleticism, which means how the jumps and tricks are performed by the dog. The third judge is
                usually considered as a Head judge, he is focused on a Team category and has the most difficult job. He
                is judging team as a whole and has to judge all the tricks and segments like rebounds also knows as
                vaults, jumps over the body of the player, dogcatches (player catching the dog in the air to his arms
                while the dog is catching the disc), etc. The last judge is also very important, he is counting the
                catch ratio so how many discs are thrown and how many are successfully caught by the dog. To get the
                best score in freestyle a dog has to catch as many discs as possible!</p>
        </div>
        <div class="media-body">
            <img src="/media/images/fr0.jpeg" class="rounded" width="40%" height="40%" alt="Freestyle">
            <img src="/media/images/dfri.jpg" class="rounded float-right" width="44%" height="44%" alt="Freestyle2">
        </div>
    </div>
    <div id="Super Pro Toss & Fetch" class="tabcontent container">
        <h3 style="font-size: 35px;" class="text-center">Super Pro Toss & Fetch</h3>
        <div style="font-size: 20px; text-indent: 1.5em; text-align: justify;">
            <p>A distance discipline where time, speed and successful catch means everything!
                A team plays only with one disc.There is a time limit of 1 and half minute. The final score comes of two
                rounds of this game.</p>
            <p>The competition field consists of 5 zones, each one is 10 yards long. A team
                gains points according to the zone where the dog catches the disc. 1 point by 10 yards, so by the
                borderline of  40 yards a dog can get 4 points. There is also a bonus zone located in the middle of the
                field, 5 yards wide. If the dog catches the disc successfully and lands with its paw in this zone he
                gets plus 0,5 point. A team will get another plus 0,5 point if the dog catches the disc in a clear jump
                (which means that all 4 paws have to be in the air). The maximum points for one throw is 5. Only 5 best
                throws are counted to the final score so the team can get maximum of 25 points in one round.</p>
            <div class="media-body">
                <img src="/media/images/st.jpg" class="rounded mx-auto d-block" width="70%" height="70%" alt="Super Pro Toss & Fetch">
            </div>
        </div>
    </div>
    <div id="Dogdartbee" class="tabcontent container">
        <h3 style="font-size: 35px;" class="text-center">Dogdartbee</h3>
        <div style="font-size: 20px; text-indent: 1.5em; text-align: justify;">
            <p>Do you like Darts? If yes, then this game is for you! In Dogdartbee you have
               also the target as in darts, but now you will throw disc and your dog has to catch the disc.
                You can get 0, 10, 30, 50 or 100 points for one throw, depending in which zone dog´s front paws
                land.</p>
            <div class="media-body">
                <img src="/media/images/sptf.jpg " class="rounded mx-auto d-block" width="70%" height="70%"
                     alt="Super Pro Toss & Fetch">
            </div>
        </div>
    </div>




<script>
    window.onload = function () {
                startTab();
            };

    function startTab() {
                document.getElementById("defaultOpen").click();

            }

    function openDescipline(evt, DesciplineName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(DesciplineName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
{% endblock %}