{% extends 'blog/base.html' %}
{% block title %}History{% endblock %}

{% block content %}
    <h1 style="text-align: center; font-size: 50px;">History</h1>
    <div class="history">
        The sport got its start in the early 1970s, paralleling the rise in popularity of Frisbee sport. The definitive
        moment came on August 5, 1974 when Alex Stein, a 19-year-old college student from Ohio, and his dog, Ashley
        Whippet, jumped the fence at a nationally broadcast baseball game between the Los Angeles Dodgers and the
        Cincinnati Reds.[1] Stein had with him a couple of flying discs, which he threw for the dog. Ashley astonished
        the crowd with his disc-catching, as he ran up to 35 miles per hour (56 km/h) and leaped 9 feet (2.7 m) in the
        air to snag the disc.[2] The stunt was so novel that the game was stopped and Joe Garagiola continued to announce
        the flying disc action on the field. Finally, after eight minutes, Stein was escorted off the field and arrested.
        The nationally televised exhibition of Ashley's skill did much to fuel interest in the sport.<br/>

        Stein worked with Irv Lander and Eldon McIntire to create the Frisbee Dog World Championship for people and
        their dogs. Even today, Stein and McIntire continue to contribute to the sport.

    </div>
{% endblock %}