{% extends 'blog/base.html' %}



{% block title %}Change you password{% endblock %}

{% block content %}
    <div class="container">
        <h1 style="font-size: 30px; padding-top: 20px;">Change you password</h1>
        <p style="font-size: 25px;">Use the form below to change your password.</p>
        <form  method="post"  style="width: 40%;">
            {% csrf_token %}
            <div class="form-group">
                    <label for="old_password" style="font-size: 20px;">Old password:</label>
                    <input type="password" class="form-control" id="old_password" style=" font-size: 20px;" placeholder="Enter old password"
                           name="old_password">
                    <label for="new_password" style=" font-size: 20px;">New password:</label>
                    <input type="password" class="form-control" id="new_password" style=" font-size: 20px;"
                           placeholder="Enter new password" name="new_password">
                    <label for="reenter_password" style=" font-size: 20px;">Repeat password:</label>
                    <input type="password" class="form-control" id="reenter_password" style=" font-size: 20px;"
                           placeholder="Repeat password" name="reenter_password">
                </div>
{#            {% if form.errors %}#}
{#                <p style="color:red; text-align: center;">#}
{#                Your passwords didn't match.<br/> Please try again.#}
{#            {{ form.as_p }}#}
{#            {% endif %}#}
            <div class="form-group text-center">
                <input type="hidden" name="next" value="{{ next }}">
                <p><button type="submit" class="btn btn-sm btn-primary">Change</button></p>
            </div>
        </form>
    </div>
{% endblock %}