{% extends 'blog/base.html' %}

{% block title %}Log-in{% endblock %}
{% block content %}
    <div class="container">
    <h2 class="text-center" style="font-size: 30px; padding-top: 20px;">Login</h2>
        <form action="{% url 'login' %}" method="post" novalidate style="width: 40%;" class="mx-auto" >
            {% csrf_token %}
            {% if form.errors %}
                <p style="color:red; text-align: center;">
                Your username/password didn't match.<br/> Please try again.
                </p>
            {% else %}
                <p class="form-group text-center" style="font-size: 25px;">Welcome ;)</p>
            {% endif %}
            <div class="form-group">
                <label for="username" style="font-size: 20px;">Username:</label>
                <input type="text" class="form-control" id="username" style=" font-size: 20px;" placeholder="Enter username"
                       name="username">
                <label for="password" style=" font-size: 20px;">Password:</label>
                <input type="password" class="form-control" id="password" style=" font-size: 20px;"
                       placeholder="Enter password" name="password">
            </div>
            <div class="form-group text-center">
                <input type="hidden" name="next" value="{{ next }}">
                <p><button type="submit" class="btn btn-sm btn-primary">Log In</button></p>
                <p style="font-size: 18px;">Don’t have an account? <a href="{% url 'register' %}">Sign up now</a></p>

            </div>
        </form>
    </div>
{% endblock %}
