{% extends 'blog/base.html' %}

{% block title %}Edit your account{% endblock %}

{% block content %}
    <div class="container">
        <form action="." method="POST" class="container" style="padding-top: 40px;">
            {% csrf_token %}
            <p>
                <label>Username<br/>
                <input type="text" name="username" value="{{user.username}}" />
                </label>
            </p>
             <p>
                <label>First Name<br/>
                <input type="text" name="first_name" value="{{user_profile.first_name}}" />
                </label>
            </p>
             <p>
                <label>Last name<br/>
                <input type="text" name="last_name" value="{{user_profile.last_name}}" />
                </label>
             </p>
             <p>
                <label>Birth date<br/>
                <input type="date" name="birth_date" value="{{user_profile.birth_date}}" />
                </label>
            </p>
             <p>
                <label>City<br/>
                <input type="text" name="city" value="{{user_profile.city}}" />
                </label>
            </p>
             <p>
                <label>Phone<br/>
                <input type="tel" name="user_phone" value="{{user_profile.user_phone}}" />
                </label>
            </p>

            <p>
                <label>Email<br/>
                <input type="email" name="email" value="{{user_profile.email}}" />
                </label>
            </p>

            <p><button type="submit" class="btn btn-sm btn-primary">Save</button></p>
        </form>

{#    <form method="post" action="{% url 'change_password' %}">#}
{#        {% csrf_token %}#}
{#        <p><button type="submit" class="btn btn-sm btn-primary">Change password</button></p>#}
{##}
{#    </form>#}
    </div>

{% endblock %}

