{% extends 'blog/base.html' %}
{% block title %}ProfilePage{% endblock %}
{% block content %}
    <div class="container" style="padding-top: 60px;">
        <h2 class="profile container " style="font-size: 40px;">my profile</h2>
            <table class="table table-striped table-bordered table-sm" style="width: 50%;" >
                <tbody>
                    <tr>
                      <td>Username</td>
                      <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>First name</td>
                        <td>{{ user_profile.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Last name</td>
                        <td>{{ user_profile.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ user_profile.email|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Birth Date</td>
                        <td>{{ user_profile.birth_date|default_if_none:"" }}</td>
                    </tr>
                    <tr>
                        <td>Country/city</td>
                        <td>{{ user_profile.city|default_if_none:"" }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{ user_profile.user_phone|default_if_none:""}}</td>
                    </tr>
                </tbody>
            </table>

        <div class="profile_edit" style="padding-left: 18%">
            <button type="button" class="btn btn-outline-primary">
                <a href="{% url 'profile_edit' %}">Edit profile</a>
            </button>
{#            <a href="{% url 'profile_edit' %}">Edit profile</a>#}
        </div>
    </div>

{% endblock %}